// single products
.woocommerce {
    // main.main.container {
    //   background-color: white;
    //   padding: 3em 3em 3em 3em;
    // }
  
    .woocommerce-breadcrumb {
      display: none;
    }
  
    ul.products li.product a {
      // img {
      //   @extend %hoverimgeffect;
      // }
  
      &:hover img {
        @extend %hoverimgeffect;
      }
    }
  }
  
  // a#lumise-customize-button {
  //   @apply mt-4;
  // }
  
  .woocommerce-tabs {
    @apply mb-8 pt-6 border-t border-gray-300;
  }

  .related.products h2 {
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    margin-bottom: 1rem;
}

.woocommerce-message {
  @apply text-2xl;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}